.album-item {
    margin-top: 25px;
    margin-right: 20px;
    cursor: pointer;
    
    &__img {
        width: 213px;
    }

    &__name-container {
        text-align: center;
    }

    &__name {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .015em;
        color: #fff;
        text-transform: none;   
        text-decoration: none;
    }

    &__name:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}