<div class="container">
    <div class="side-bar">
        <div class="side-bar__item ">
            <img class="side-bar__image" src="../../../assets/img/spotify_light.png" alt="spotify light logo">
        </div>
        <div class="side-bar__item" routerLink="home">
            <i class="fa fa-house"></i>
            <a>Home</a>
        </div>
        <div class="side-bar__item" routerLink="search">
            <i class="fa fa-search"></i>
            <a>Search</a>
        </div>
        <div class="side-bar__item" routerLink="library">
            <i class="fa fa-book"></i>
            <a>Your Library</a>
        </div>
        <div class="side-bar__item">
            <i class="fa-solid fa-square-plus"></i>
            <a>Create Playlist</a>
        </div>
    </div>
</div>